$content-width: 800px;
$form-height: 48px;

/* color */
$primary: #ff3e00;
$primary-dark: #c73200;

$gray-700: #0d0d0d;
$gray-600: #1a1a1a;
$gray-500: #262626;
$gray-400: #333333;
$gray-300: #808080;
$gray-200: #d9d9d9;
$gray-100: #f2f2f2;
