@import './colors';
@import './font';
@import './reset';

* {
	font-family: 'Pretendard' !important;
}

body {
	background-color: #f6f6f6;
}

input,
button {
	border-style: groove;
}

input {
	width: 200px;
}
