@import './variables';
@import './font';

* {
	font-family: 'Pretendard' !important;
}

body {
	background-color: $gray-600;
	color: $gray-100;
	font-size: 14px;
	font-weight: 400;
	overflow: overlay;

	&::-webkit-scrollbar {
		display: none;
	}
}
